/* style.css */
body {
	font-family: Arial, sans-serif;
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: #f0f0f0;
}
header {
	text-align: right;
	color: #4444;
}
footer {
	text-align: center;
	margin-top: 50px;
	color: #666;
}
main {
	width: 500px;
	height: 500px;
}